<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="form-group">
    <%= f.input :description, class: 'form-control' %>
    <%= f.association :ingredient %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
